.slick-slide img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.home-container {
  text-align: center;
  padding: 20px;
}

.slick-dots li {
  margin: 0 10px; /* Add spacing between dots */
}

