.home-container {
  background: url("../../Assets/Spokane.jpeg") no-repeat center center fixed;
  /*background: url("../../Assets/Kurkuru.gif") no-repeat center center fixed;*/
  background-size: cover;
  min-height: 100vh; /* Full viewport height */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white; /* Adjust text color for visibility */
  text-align: center;
  padding: 20px;
}

